<div>
  <%= link_to "Click here", 
              heyyy_path, 
              data: { turbo_stream: true },
              class: "text-blue-500 hover:text-blue-700 hover:underline" 
  %> to open a modal.
</div>
